<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div>
    <div class="container">
        <form th:action="@{/save}" th:object="${person}" method="post">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Formulario Persona</h3>
                        <div class="form-group">
                            <input value="Regresar" type="submit" class="btn btn-primary">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                             <label>ID</label>
                            <input th:field="*{id}" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>NAME</label>
                            <input th:field="*{name}" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>PHONE</label>
                            <input th:field="*{telephone}" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <input value="Guardar" type="submit" class="btn btn-success">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>